<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

    <div class="text-center">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        Benvenuto sul sito Rental Car
      </h1>

      <div *ngIf="!isUserLoggedIn">
        <p class="lead">Effettua il login o registrati </p>

        <a [routerLink]="['login']" id="Accedi" class="btn btn-primary btn-lg"> Accedi </a>&nbsp;

        <a [routerLink]="['registrazione']" id="Registrati" class="btn btn-secondary btn-lg"> Registrati</a>
      </div>

      <br><br>

      <div *ngIf="isUserLoggedIn">
        <h4><a [routerLink]="['veicoli']"
               class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Parco
          Auto</a></h4>oppure <br><br>
        <div *ngIf="ruolo=='admin'">
          <h4><a [routerLink]="['utenti']"
                 class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Profilo</a>
          </h4>
        </div>
        <div *ngIf="ruolo=='customer'">
          <h4><a [routerLink]="['prenotazioni/prenotazioniCustomer/',utenteId]"
                 class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Profilo</a>
          </h4>
        </div>
      </div>

    </div>

  </div>
</div>


